extends ../layouts/layout

block content
  .row
    .col-md-12
      h1 OAuth2 Login 
      ul.list-inline.list-unstyled
        li
          a.btn.btn-primary(href='/local')#login-local Login with local account
        li
          a.btn.btn-primary(href="/auth/github")#login-github Login with Github
        li
          a.btn.btn-primary(href="/auth/google")#login-google Login with Google
