extends ../layouts/layout

block content
  h2 Third Party Profile(s)
  h2= user.providerId
  h2 Linked Account(s)
  ul.list-inline.list-unstyled
    li
      a.btn.btn-primary(href="/link/github") Link Github
